---
title: Effective Pandas - Notes and Exercises
author: Vishal Bakshi
description: An update on my progress in the book "Effective Pandas" by Matt Harrison.
categories:
    - data analysis
    - python
---

In this blog post, I work through the book [Effective Pandas by Matt Harrison](https://www.amazon.com/Effective-Pandas-Patterns-Manipulation-Treading/dp/B09MYXXSFM/ref=sr_1_1?crid=1ZS9KD8F19ZMT&keywords=effective+pandas&qid=1688689886&sprefix=effective+pa%2Caps%2C518&sr=8-1). I'll take notes, work through examples and end-of-chapter exercises.

## Chapter 4: Series Introduction

Represent the following data in pure python:

|Artist|Data|
|:-|:-|
|0|145|
|1|142|
|2|38|
|3|13|

In [1]:
series = {
    'index': [0, 1, 2, 3],
    'data': [145, 142, 38, 13],
    'name': 'songs'
}

series

{'index': [0, 1, 2, 3], 'data': [145, 142, 38, 13], 'name': 'songs'}

The `get` function below can pull items out of this data structure based on the index:

In [2]:
def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [3]:
get(series, 1)

142

The `index` method on the list returns the list element at the provided index value.

In [5]:
[0, 1, 2, 3].index(1)

1

Below is an example that has string values for the index:

In [6]:
songs = {
    'index': ['Paul', 'John', 'George', 'Ringo'],
    'data': [145, 142, 38, 13],
    'name': 'songs'
}

In [7]:
get(songs, 'John')

142

Create a `Series` object from a list:

In [8]:
import pandas as pd

In [9]:
songs2 = pd.Series([145, 142, 38, 13], name = 'counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

The series is one-dimensional. The leftmost column is the *index*, also called the *axis*. The data (145, 142, 38, 13) is also called the *values* of the series. A `DataFrame` has two axes, one for the rows and another for the columns.

In [10]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

The default values for an index are monotonically increasing integers. The index can be string-based as well (datatype for the index is `object`).

In [11]:
songs3 = pd.Series([145, 142, 38, 13],
                   name = 'counts',
                   index = ['Paul', 'John', 'George', 'Ringo'])
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [12]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

We can insert Python objects into a series:

In [13]:
class Foo:
    pass

ringo = pd.Series(
    ['Richard', 'Starkey', 13, Foo()],
    name = 'ringo')

ringo

0                                 Richard
1                                 Starkey
2                                      13
3    <__main__.Foo object at 0x10847d960>
Name: ringo, dtype: object

The `object` data type is also used for a series with string values and values that have heterogeneous or mixed types.

Here is a series that has `NaN` in it:

In [14]:
import numpy as np
nan_series = pd.Series([2, np.nan],
                       index = ['Ono', 'Clapton'])
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

`float64` supports `NaN` while `int64` does not. As of pandas 0.24, `Int64` (nullable integer type) supports `NaN`.

`count` ignores `NaN`s, `.size` does not.

In [15]:
nan_series.count()

1

In [16]:
nan_series.size

2

In [17]:
nan_series2 = pd.Series([2, None],
                        index = ['Ono', 'Clapton'],
                        dtype = 'Int64')
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [18]:
nan_series2.count()

1

In [19]:
# convert data type
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

The `Series` object behaves similarly to a NumPy array.

In [20]:
numpy_ser = np.array([145, 142, 38, 13])
songs3[1], numpy_ser[1]

(142, 142)

They both have methods in common

In [21]:
songs3.mean(), numpy_ser.mean()

(84.5, 84.5)

They both have a notion of a *boolean array*.

In [22]:
mask = songs3 > songs3.median()
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [23]:
# use mask as a filter
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [24]:
# NumPy equivalent
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

If can indicate that data is categorical. 

Categorical values:

- Use less memory than strings
- Impove performance
- Can have an ordering
- Can perform operations on categories
- Enforce membership on values

In [25]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype = 'category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

By default categories don't have an ordering.

In [26]:
s.cat.ordered

False

Convert non-categorical series to an ordered category:

In [28]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])

size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered = True)

s3 = s2.astype(size_type)
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [29]:
# can perform comparisons on ordered categories
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [30]:
# add ordering information to categorical data
s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

For strings and dates converted to categorical types, we can still use the `str` or `dt` attributes on them:

In [31]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object

|Method|Description|
|:-|:-|
|`pd.Series(data=None, index=None, dtype=None, name=None, copy=False)`|Create a series from data (sequence, dictionary or scalar)|
|`s.index`|Access index of series.|
|`s.astype(dtype, errors='raise')`|Cast a series to `dtype`. To ignore errors (and return original object) use `errors='ignore'`|
|`s[boolean_array]`|Return values from `s` where `boolean_array` is `True`|
|`s.cat.ordered`|Determine if a categorical series is ordered|
|`s.cat.reorder_categories(new_categories, ordered=False)`|Add categories (potentially ordered) to the series. `new_categories` must include all categories.

### Exercises
1. Using Jupyter, create a series with the temperature values for the last seven days. Filter out the vaues below the mean.
2. Using Jupyter, create a series with your favorite colors. Use a categorical type.

In [33]:
# temperature series
temps = pd.Series([88, 84, 84, 84, 88, 95, 97 ,88])

temps[temps >= temps.mean()]

5    95
6    97
dtype: int64

In [34]:
# favorite colors
colors_series = pd.Series(['orange', 'coral', 'midnight green'], dtype = 'category')
colors_series

0            orange
1             coral
2    midnight green
dtype: category
Categories (3, object): ['coral', 'midnight green', 'orange']

## Chapter 5: Series Deep Dive

In [35]:
# analyze the US Fuel Economy data
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'

df = pd.read_csv(url)

city_mpg = df.city08
highway_mpg = df.highway08

/var/folders/5q/_bn7l90s177_2gq7rnhssjxm0000gn/T/ipykernel_76817/221626492.py:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [36]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [37]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

Because the type is `int64` we know that none of the values are missing.

The `dir` function lists the attributes of an object. A series has 400+ attributes:

In [38]:
len(dir(city_mpg))

412

In [39]:
len(dir(highway_mpg))

412

Functionality of series attributes:

- Dunder methods provide many numeric operations, looping, attribute access, and index access. For the numeric operations, these return `Series`.
- Corresponding operator methods for many of the numeric operations allow us to tweak the behavior.
- Aggregate methods and properties which reduce or aggregate the values in a series down to a single scalar value.
- Conversion methods. Some of these start with `.to_` and export the data to other formats.
- Manipulation methods that return `Series` objects with the same index.
- Indexing and accessor methods and attributes that return `Series` or scalars.
- String manipulation methods using `.str`.
- Date manipulation methods using `.dt`.
- Plotting methods using `.plot`.
- Categorical manipulation methods using `.cat`.
- Transformation methods.
- Attributes such as `.index` and `.dtype`.
- A bunch of private attributes (130 of them) that we'll ignore.

### Exercises
1. Explore the documentation for five attributes of a series from Jupyter.
2. How many attributes are found on the `.str` attribute? Look at the documentation for three of them.
3. How many attributes are found on the `.dt` attribute? Look at the documentation for three of them.

In [40]:
city_mpg.values

array([19,  9, 23, ..., 18, 18, 16])

In [41]:
city_mpg.axes

[RangeIndex(start=0, stop=41144, step=1)]

In [42]:
city_mpg.empty

False

In [47]:
city_mpg.at[4]

17

In [45]:
city_mpg.loc[1:4]

1     9
2    23
3    10
4    17
Name: city08, dtype: int64

In [52]:
# 98 string attributes
len(dir(s2.str))

98

In [60]:
s2.str.cat(sep = ".")

'm.l.xs.s.xl'

In [61]:
s2.str.capitalize()

0     M
1     L
2    Xs
3     S
4    Xl
dtype: object

In [63]:
s2.str.endswith('l')

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [67]:
dt_series = pd.Series(['2023-01-01', '2023-04-05', '2023-07-06'])

dt_series = pd.to_datetime(dt_series)
dt_series

0   2023-01-01
1   2023-04-05
2   2023-07-06
dtype: datetime64[ns]

In [68]:
len(dir(dt_series.dt))

83

In [69]:
dt_series.dt.day

0    1
1    5
2    6
dtype: int32

In [70]:
dt_series.dt.day_of_year

0      1
1     95
2    187
dtype: int32

In [71]:
dt_series.dt.daysinmonth

0    31
1    30
2    31
dtype: int32

## Chapter 6: Operators (& Dunder Methods)

These are the protocols that determine how the Python language reacts to operations.

In [72]:
2 + 4

6

In [73]:
# under the cover is
(2).__add__(4)

6

In [74]:
(city_mpg + highway_mpg) / 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

When you operate with two series, pandas will *align* the index before performing the operation. Because of index alignment, you will want to make sure that the indexes:
- are unique
- are common to both series

In [75]:
# example of series with repeated and non-common indexes
s1 = pd.Series([10, 20, 30], index=[1,2,2])
s2 = pd.Series([35, 44, 53], index=[2,2,4], name = 's2')

In [76]:
s1

1    10
2    20
2    30
dtype: int64

In [77]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [78]:
# index 1 and 4 have NaN
# index 2 has four results
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

When you perform math operations with a scalar, pandas *broadcasts* the operation to all values. A numeric pandas series is a block of memory, and modern CPUs leverage a technology called Single Instruction/Multiple Data (SIMD) to apply a math operation to the block of memory.

In [79]:
# use `fill_value` parameter to replace missing operands
s1.add(s2, fill_value = 0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

Chaining makes the code easy to read and understand

In [81]:
(city_mpg
    .add(highway_mpg)
    .div(2))

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

|Method|Operator|Description|
|:-|:-|:-|
|`s.add(s2)`|`s + s2`|Adds series|
|`s.radd(s2)`|`s2 + s`|Adds series|
|`s.sub(s2)`|`s - s2`|Subtracts series|
|`s.rsub(s2)`|`s2 - s`|Subtracts series|
|`s.mul(s2)`|`s * s2`|Multiplies series|
|`s.multiply(s2)`|`s * s2`|Multiplies series|
|`s.rmul(s2)`|`s2 * s`|Multiplies series|
|`s.div(s2)`|`s / s2`|Divides series|
|`s.truediv(s2)`|`s / s2`|Divides series|
|`s.rdiv(s2)`|`s2 / s`|Divides series|
|`s.rtruediv(s2)`|`s2 / s`|Divides series|
|`s.mod(s2)`|`s % s2`|Modulo of series division|
|`s.rmod(s2)`|`s2 % s`|Modulo of series division|
|`s.floordiv(s2)`|`s // s2`|Floor divide series|
|`s.rfloordiv(s2)`|`s2 // s`|Floor divide series|
|`s.pow(s2)`|`s ** s2`|Exponential power of series|
|`s.rpow(s2)`|`s2 ** s`|Exponential power of series|
|`s.eq(s2)`|`s2 == s`|Elementwise equals of series|
|`s.ne(s2)`|`s2 != s`|Elementwise not equals of series|
|`s.gt(s2)`|`s > s2`|Elementwise greater than of series|
|`s.ge(s2)`|`s >= s2`|Elementwise greater than or equals of series|
|`s.lt(s2)`|`s < s2`|Elementwise less than of series|
|`s.le(s2)`|`s <= s2`|Elementwise less than or equals of series|
|`np.invert(s)`|`~s`|Elementwise inversion of boolean series (no pandas method)|
|`np.logical_and(s, s2)`|`s & s2`|Elementwise logical and of boolean series (no pandas method)|
|`np.logical_or(s, s2)`|`s \| s2`|Elementwise logical or of boolean series (no pandas method)|

## Exercise
With a dataset of your choice:
1. Add a numeric series to itself.
2. Add 10 to a numeric series.
3. Add a numeric series to itself using the `.add` method.
4. Read the documentation for the `.add` method.

In [82]:
city_mpg + city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [83]:
city_mpg + 10

0        29
1        19
2        33
3        20
4        27
         ..
41139    29
41140    30
41141    28
41142    28
41143    26
Name: city08, Length: 41144, dtype: int64

In [84]:
city_mpg.add(city_mpg)

0        38
1        18
2        46
3        20
4        34
         ..
41139    38
41140    40
41141    36
41142    36
41143    32
Name: city08, Length: 41144, dtype: int64

In [86]:
# experimenting with fill_value parameter
nan_series3 = pd.Series([2, None])
nan_series4 = pd.Series([3, None])

In [87]:
nan_series3

0    2.0
1    NaN
dtype: float64

In [88]:
nan_series4

0    3.0
1    NaN
dtype: float64

In [89]:
# two corresponding NaN values stay NaN
# even with fill_value = 0
nan_series3.add(nan_series4, fill_value=0)

0    5.0
1    NaN
dtype: float64

## Chapter 7: Aggregate Methods

Aggregate methods collapse the values of a series down to a scalar.

In [90]:
# calculate the mean
city_mpg.mean()

18.369045304297103

In [91]:
city_mpg.is_unique

False

In [92]:
pd.Series([1,2,3]).is_unique

True

In [93]:
city_mpg.is_monotonic_increasing

False

In [94]:
pd.Series([1,2,3]).is_monotonic_increasing

True

In [95]:
# default is median (50% quantile)
city_mpg.quantile()

17.0

In [96]:
city_mpg.quantile(0.9)

24.0

In [97]:
# multiple quantiles returns a Series
city_mpg.quantile([0.1, 0.5, 0.9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

If you want the count of values that meet some criteria, you can use the `.sum` method:

In [98]:
# count of cars with mileage greater than 20
(city_mpg
     .gt(20)
     .sum()
)

10272

In [99]:
# percentage of cars with mileage greater than 20
(city_mpg
     .gt(20)
     .mul(100)
     .mean()
)

24.965973167412017

In [100]:
(pd.Series([1,2,3,4])
    .gt(2)
    .mul(100)
)

0      0
1      0
2    100
3    100
dtype: int64

In [102]:
(pd.Series([1,2,3,4])
     .gt(2)
     .mul(100)
     .mean()   
)

50.0

If you sum up a series of boolean values, the result is the count of `True` values. If you take the mean of a series of boolean values, the result is the fraction of values that are `True`.

`.agg` can perform multiple operations.

In [103]:
city_mpg.agg('mean')

18.369045304297103

In [104]:
def second_to_last(s):
    return s.iloc[-2]

In [105]:
city_mpg.agg(['mean', np.var, max, second_to_last])

mean               18.369045
var                62.503036
max               150.000000
second_to_last     18.000000
Name: city08, dtype: float64

Aggregation strings and descriptions:

|Method|Description|
|:-|:-|
|`'all'`|Returns `True` if every value is truthy.|
|`'any'`|Returns `True` if any value is truthy.|
|`'autocorr'`|Returns Pearson correlation of series with shifted self. Can override `lag` as keyword argument (default is 1).|
|`'corr'`|Returns Pearson correlation of series with other series. Need to specify `other`|
|`'count'`|Returns count of non-missing values.|
|`'cov'`|Returns covariance of series with other series. Need to specify `other`|
|`'dtype'`|Type of the series.|
|`'dtypes'`|Type of the series.|
|`'empty'`|`True` is no values in series.|
|`'hasnans'`|`True` if missing values in series.|
|`'idxmax'`|Returns index value of maximum value.|
|`'idxmin'`|Returns index value of minimum value.|
|`'is_monotonic'`|`True` if values always increase.|
|`'is_monotonic_decreasing'`|`True` if values always decrease.|
|`'is_monotonic_increasing'`|`True` if values always increase.|
|`'kurt'`|Returns "excess" kurtosis (0 is normal distribution). Values greater than 0 have more outliers than normal.|
|`'mad'`|Returns the mean absolute deviation.|
|`'max'`|Returns the maximum value.|
|`'mean'`|Returns the mean value.|
|`'median'`|Returns the median value.|
|`'min'`|Returns the minimum value.|
|`'nbytes'`|Returns the number of bytes of the data.|
|`'ndim'`|Return the number of dimensions (1) of the data.|
|`'nunique'`|Returns the count of unique values.|
|`'quantile'`|Returns the median value. Can override `q` to specify other quantile.|
|`'sem'`|Returns the unbiarsed standard error.|
|`'size'`|Returns the size of the data.|
|`'skew'`|Returns the unbiased skew of the data. Negative indicates tail is on the left side.|
|`'std'`|Returns the standard deviation of the data.|
|`'sum'`|Returns the sum of the series.|

Aggregation methods and properties:

|Method|Description|
|:-|:-|
|`s.agg(func=None, axis=0, *args, **kwargs)`|Returns a scalar if `func` is a single aggregation function. Returns a series if a list of aggregations are passed to `func`.|
|`s.all(axis=0, bool_only=None, skipna=True, level=None)`||
|`s.any(axis=0, bool_only=None, skipna=True, level=None)`||
|`s.autocorr(lag=1)`||
|`s.corr(other, method='pearson')`||
|`s.cov(other, min_periods=None)`||
|`s.max(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.min(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.mean(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.median(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.prod(axis=None, skipna=None, level=None, numeric_only=None, min_count=0)`||
|`s.quantile(q=0.5, interpolation='linear')`||
|`s.sem(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)`||
|`s.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)`||
|`s.var(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)`||
|`s.skew(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.kurtosis(axis=None, skipna=None, level=None, numeric_only=None)`||
|`s.nunique(dropna=True)`||
|`s.count(level=None)`||
|`s.size`||
|`s.is_unique`||
|`s.is_monotonic`||
|`s.is_monotonic_increasing`||
|`s.is_monotonic_decreasing`||